@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
html {
    height: 100vh;
}

body {
    min-height: 100vh;
}

html {
    scroll-padding-top: 100px;
}

form {
    margin: 0;
    padding: 0;
}

[x-cloak] {
    display: none !important;
}

.courgette_font {
    font-family: 'Courgette', cursive;
}

.pt_serif_font {
    font-family: 'PT Serif', serif;
}

.nav_button_font {
    font-family: 'Abril Fatface', cursive;
}

.ibm_plex_font {
    font-family: 'IBM Plex Serif', serif;
}

.karma {
    font-family: 'Karma', serif;
}

.dancing_font {
    font-family: 'Dancing Script', cursive;
}

.baskerville_font {
    font-family: 'Libre Baskerville', serif;
}

.bg_cello {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/bg_cello_3.jpg");
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}

.bg_cello_contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/bg_cello_3.jpg");
    background-attachment: fixed;
    position: relative;
}

 ::-webkit-scrollbar {
    display: none;
}

.jumbo_title_position {
    color: white;
    top: 50%;
    left: 50%;
    margin: auto;
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
}

.jumbo_title_1 {
    font-size: 5rem;
}

menu {
    position: sticky;
    top: 0px;
    opacity: 0.90;
    box-shadow: 1px 1px 1px rgb(235, 231, 231);
}

input[type="file"] {
    display: none;
}

.my_min_height {
    min-height: calc(100vh - 164px);
}

.my_min_height_contact {
    min-height: calc(100vh - 305px);
}

.my_min_height_error {
    min-height: calc(100vh - 94px);
}

.placeholder_contact::placeholder {
    color: white;
}

.my_margin_left {
    margin-left: 100px;
}

.connection_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my_min_height_administration {
    min-height: calc(100vh - 93px);
}


/* MEDIA QUERIES INTERFACE USER AND ADMIN*/

@media (min-width: 870px) {
    #menu_responsive_user {
        display: none;
    }
    #menu_responsive_admin {
        display: none;
    }
}

@media (max-width: 1537px) {
    .mq_username_fs {
        font-size: 22px;
    }
}

@media (max-width: 1222px) {
    .mq_li_fs {
        font-size: 14px;
    }
    .mq_icon_size {
        width: 24px;
        height: auto;
    }
}

@media (max-width: 1050px) {
    .mq_username_fs {
        display: none;
    }
}

@media (max-width: 870px) {
    #menu_desktop {
        display: none;
    }
    .mq_username_fs {
        display: flex;
    }
    .mq_li_fs {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    #hamburger {
        font-size: 15px;
    }
}


/* MEDIA QUERIES WELCOME PAGE */


/* MEDIA QUERIES WELCOME PAGE */


/* MEDIA QUERIES WELCOME PAGE */


/* MEDIA QUERIES WELCOME PAGE */


/* UP BLOCK */


/* UP BLOCK */


/* UP BLOCK */


/* UP BLOCK */

@media (max-width: 1560px) {
    .jumbo_title_1 {
        font-size: 4rem;
    }
    .jumbo_title_2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 1534px) {
    .mq_recording_environment {
        font-size: 1.2rem;
    }
    .download_link_demo {
        font-size: 1rem;
    }
}

@media (max-width: 1250px) {
    .bg_cello {
        height: 75vh;
    }
    .jumbo_title_1 {
        font-size: 3.7rem;
    }
    .jumbo_title_2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1233px) {
    .mq_recording_environment {
        font-size: 17px;
    }
    .download_link_demo {
        font-size: 15px;
    }
}

@media (max-width: 1175px) {
    .mq_recording_environment {
        font-size: 15px;
    }
    .download_link_demo {
        font-size: 13px;
    }
    .icon_welcome_page_yellow {
        width: 45px;
        height: auto;
    }
    .icon_welcome_page_download {
        width: 35px;
        height: auto;
    }
}

@media (max-width: 1160px) {
    .bg_cello {
        height: 55vh;
    }
    .jumbo_title_1 {
        font-size: 3rem;
    }
    .jumbo_title_2 {
        font-size: 1.2rem;
    }
    .mq_jumbo_btn a {
        font-size: 1.2rem;
    }
    .jumbo_title_position {
        top: 60%;
    }
    .icon_welcome_page_yellow {
        width: 45px;
        height: auto;
    }
    .icon_welcome_page_download {
        width: 30px;
        height: auto;
    }
    .mq_title_recording_environment {
        font-size: 20px;
    }
}

@media (max-width: 1090px) {
    .mq_flex_welcome_page_recording_environment {
        display: block;
    }
    .mq_flex_welcome_page_recording_environment_width {
        width: 100%;
        margin-bottom: 30px;
    }
    .mq_title_recording_environment {
        font-size: 40px;
    }
    .mq_font_size_presentation_text h2 {
        font-size: 18px;
        margin-top: 40px;
    }
    .download_link_demo {
        font-size: 17px;
    }
}

@media (max-width: 1000px) {
    .ytb_vid {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 940px) {
    .bg_cello {
        height: 55vh;
    }
    .jumbo_title_1 {
        font-size: 2rem;
    }
    .jumbo_title_2 {
        font-size: 0.9rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .mq_jumbo_btn a {
        font-size: 1rem;
    }
    .jumbo_title_position {
        top: 55%;
    }
}

@media (max-width: 640px) {
    .jumbo_title_1 {
        font-size: 1.7rem;
    }
    .jumbo_title_2 {
        font-size: 0.7rem;
    }
    .mq_jumbo_btn a {
        font-size: 0.8rem;
    }
    .mq_nav_padding {
        padding: 1.8rem;
    }
    .mq_gray_menu {
        display: none;
    }
}

@media (max-width: 531px) {
    .jumbo_title_1 {
        font-size: 1.4rem;
    }
    .jumbo_title_2 {
        font-size: 0.7rem;
    }
    .mq_jumbo_btn a {
        font-size: 0.7rem;
        padding: 6px;
    }
    .bg_cello {
        height: 45vh;
    }
    .jumbo_title_position {
        top: 60%;
    }
}

@media (max-width: 437px) {
    .jumbo_title_1 {
        font-size: 1.1rem;
    }
    .jumbo_title_2 {
        font-size: 0.5rem;
    }
    .mq_jumbo_btn a {
        font-size: 0.6rem;
        padding: 6px;
    }
    .mq_nav_padding {
        padding: 0.5rem;
    }
    .bg_cello {
        height: 40vh;
    }
    .jumbo_title_position {
        top: 55%;
    }
}

@media (max-width: 393px) {
    .jumbo_title_1 {
        font-size: 1.26rem;
    }
    .jumbo_title_2 {
        font-size: 0.65rem;
    }
    .mq_jumbo_btn a {
        font-size: 0.7rem;
        padding: 6px;
    }
    .mq_nav_padding {
        padding: 0.5rem;
    }
    .bg_cello {
        height: 35vh;
    }
    .jumbo_title_position {
        top: 55%;
    }
}

@media (max-width: 350px) {
    .jumbo_title_1 {
        font-size: 1rem;
    }
    .jumbo_title_2 {
        font-size: 0.5rem;
    }
    .mq_jumbo_btn a {
        font-size: 0.54rem;
        padding: 6px;
    }
    .mq_nav_padding {
        padding: 0.5rem;
    }
    .bg_cello {
        height: 35vh;
    }
    .jumbo_title_position {
        top: 55%;
    }
}


/* DOWN BLOCK */


/* DOWN BLOCK */


/* DOWN BLOCK */


/* DOWN BLOCK */

.ytb_vid {
    float: right;
}

@media (max-width: 1231px) {
    .ytb_vid {
        width: 506px;
        height: 290px;
    }
    .mq_font_size_presentation_text p {
        font-size: 18px;
    }
    .mq_padding_presentation_text {
        padding: 14px;
    }
}

@media (max-width: 970px) {
    .mq_gray_menu a {
        font-size: 20px;
    }
}

@media (max-width: 945px) {
    .ytb_vid {
        width: 426px;
        height: 250px;
    }
}

@media (max-width: 876px) {
    .ytb_vid {
        float: none;
        width: 640px;
        height: 360px;
        margin: auto;
        padding-bottom: 40px;
    }
    .mq_gray_menu a {
        font-size: 18px;
    }
}

@media (max-width: 770px) {
    .mq_gray_menu a {
        font-size: 14px;
    }
    .mq_font_size_presentation_text p {
        font-size: 14px;
    }
    .mq_padding_presentation_text {
        padding: 10px;
    }
    .mq_title_recording_environment {
        font-size: 30px;
    }
    .mq_font_size_presentation_text h2 {
        font-size: 14px;
    }
    .download_link_demo {
        font-size: 14px;
    }
}

@media (max-width: 705px) {
    .ytb_vid {
        width: 426px;
        height: 240px;
    }
    .mq_social_icon img {
        width: 50px;
        height: auto;
    }
}

@media (max-width: 488px) {
    .ytb_vid {
        width: 320px;
        height: 200px;
    }
    .mq_title_recording_environment {
        font-size: 25px;
    }
    .icon_welcome_page_yellow {
        width: 30px;
        height: auto;
    }
    .icon_welcome_page_download {
        width: 25px;
        height: auto;
    }
}


/* MEDIA QUERIES ORDERS USER */

@media (min-width: 796px) {
    #orders_phone_resp {
        display: none;
    }
}

@media (max-width: 795px) {
    #orders_desktop_resp {
        display: none;
    }
}


/* MEDIA QUERIES PAYMENT_PAGE USER */

@media (max-width: 1243px) {
    .mq_font_size_Order_payment_text {
        font-size: 28px;
    }
    .mq_payment_page_font_size_titles {
        font-size: 20px;
    }
    .mq_payment_page_font_size_description {
        font-size: 16px;
    }
    .mq_text_price {
        font-size: 16px;
    }
}

@media (max-width: 1021px) {
    .mq_price_details_block {
        margin: 0;
        margin-top: 20px;
    }
    .mq_titlePCR_plus_description {
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
    .img_cello_payment {
        width: 200px;
        height: auto;
    }
    .mq_order_payment_width {
        width: 100%;
        padding: 0;
    }
    .mq_img_div_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 546px) {
    .mq_font_size_Order_payment_text {
        font-size: 18px;
    }
    .mq_payment_page_font_size_titles {
        font-size: 12px;
    }
    .mq_payment_page_font_size_description {
        font-size: 10px;
    }
    .mq_text_price {
        font-size: 13px;
    }
}